In [16]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
existing_df = pd.read_csv('trans_us.csv', index_col = 0, thousands  = ',')
existing_df.index.names = ['stations']
existing_df.columns.names = ['months']
existing_df = existing_df.fillna(15)
existing_df.head(10)

months,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007
stations,,,,,,,,,,,,,,,,,,
Afghanistan,436,429,422,415,407,397,397,387,374,373,346,326,304,308,283,267,251,238
Albania,42,40,41,42,42,43,42,44,43,42,40,34,32,32,29,29,26,22
Algeria,45,44,44,43,43,42,43,44,45,46,48,49,50,51,52,53,55,56
American Samoa,42,14,4,18,17,22,0,25,12,8,8,6,5,6,9,11,9,5
Andorra,39,37,35,33,32,30,28,23,24,22,20,20,21,18,19,18,17,19
Angola,514,514,513,512,510,508,512,363,414,384,530,335,307,281,318,331,302,294
Anguilla,38,38,37,37,36,35,35,36,36,36,35,35,35,35,35,34,34,34
Antigua and Barbuda,16,15,15,14,13,12,12,11,11,9,8,9,7,9,8,8,9,9
Argentina,96,91,86,82,78,74,71,67,63,58,52,51,42,41,39,39,37,35
Armenia,52,49,51,55,60,68,74,75,74,86,94,99,97,91,85,79,79,81

In [22]:
from sklearn.decomposition import PCA
pca = PCA(n_components=3)
pca.fit(existing_df)

PCA(copy=True, iterated_power='auto', n_components=3, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [25]:
existing_2d = pca.transform(existing_df)
existing_df_2d = pd.DataFrame(existing_2d)
existing_df_2d.index = existing_df.index
existing_df_2d.columns = ['PC1','PC2','PC3']
existing_df_2d.head(10)

                            PC1         PC2        PC3
stations
Afghanistan          732.215864  203.381494 -91.386254
Albania             -613.296510    4.715978   3.723620
Algeria             -569.303713  -36.837051  22.974094
American Samoa      -717.082766    5.464696  28.897037
Andorra             -661.802241   11.037736  26.829058
Angola               990.536338  294.243725 -68.409881
Anguilla            -618.891169  -14.502928  18.533582
Antigua and Barbuda -723.656796   -5.371258  25.007024
Argentina           -508.244158   61.039700  15.336863
Armenia             -454.552060  -78.986374 -14.620445

In [24]:
print (pca.explained_variance_ratio_)

[0.91808789 0.060556   0.01080512]